{{#partial "content"}}
    <h4>Recorded Sightings</h4>
    <br>
    <br>
    <table class="table table-dark">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ranger's Name</th>
            <th scope="col">Location</th>
            <th scope="col">Animal Species</th>
            <th scope="col">Animal Name</th>
            <th scope="col">Animal Health</th>
            <th scope="col">Animal Age</th>


        </tr>
        </thead>
        <tbody>
        {{#each sightings}}
            <tr>
                <!--id-->
                <td>{{id}}</td>
                <!--Ranger's Name-->
                <td>{{rangername}}</td>

                <!--Location of Sighting-->
                <td>{{location}}</td>

                <!--Animal's Name-->
                <!--Animal's Species-->
                <td>{{type}}</td>

                <td>{{animalname}}</td>

                <!--Animal's Health-->
                <td>{{health}}</td>

                <!--Animal's Age-->
                <td>{{age}}</td>


            </tr>
        {{/each}}
        </tbody>
    </table>

    <a href="/"><button class="btn btn-outline-success">Go back</button></a>
{{/partial}}

{{>layout.hbs}}

